.forum__page-title {
  font-weight:400;
  @include font-size(28);
  line-height:1.1;
  color:$grey;
  padding:10px 0 20px 0;
}

.forum__post__content {
  img {
    max-width: 100%;
    height:auto;
  }
}

.forum__post__avatar {
  img {
    border-radius: 50%;
    max-width:80px;
    border:1px solid $periwinkle;
    background-color:#efefef;
  }
}

.forum__group {
  border:1px solid $blue;
  border-radius: 5px;
}

.forum__titles {
  background: linear-gradient(to bottom, $blue 0%, darken($blue, 7%) 100%), $blue;
  padding:10px 15px;
  color:white;
}

.forum__title {
  @include font-size(16);
  font-weight: $font-black;
}

.forum__list {
}

.forum-list-table {
  @include font-size(13);

  thead {
    td {
      vertical-align: middle;
      background-color:lighten($periwinkle, 8%);
      border-bottom:1px solid $periwinkle;
      padding:5px 15px;
      &:first-of-type {
      }
      &.right-align {
        text-align: right;
      }
      &.centered {
        text-align: center;
      }
      &.valign-top {
        vertical-align: top !important;
      }
    }
  }
  tbody {
    td {
      vertical-align: middle;
      background:linear-gradient(to bottom, white 70%, darken(white, 4%) 100%);
      border-bottom:1px solid $periwinkle;
      padding:10px 15px;
      &.right-align {
        text-align: right;
      }
      &.centered {
        text-align: center;
      }
      &.valign-top {
        vertical-align: top;
      }
      &:not(:last-of-type) {
        border-bottom:1px solid darken(white, 10%);
      }
    }
  }
}

.forum__topic-title {
  display:block;
  @include font-size(17);
  font-weight: $font-bold;
}

.forum__latest-post-title {
  @include font-size(17);
  line-height:1.2;
}

.forum__list__meta {
  margin:5px 0;
  font-style: italic;
}

.forum__breadcrumbs {
  @include clearfix;
  margin-bottom:$v-rhythm;
}

.forum__breadcrumbs__item {
  float:left;
  &:not(:last-of-type) {
    &:after {
      content: '>';
      margin:0 5px;
    }
  }
}

.forum__breadcrumbs__link {

}

.forum__post__author {
  @include font-size(16);
}

.forum__post__content-cell {
  padding:15px !important;
}

.forum__post__content {
  @include font-size(16);
}

.forum-button-form {
  float:left;
  &:not(:last-of-type) {
    margin-right:5px;
  }
}

.forum__reply-form {
  margin-top:$v-rhythm;
}

ul.pager {
  @include clearfix;
  padding:$v-rhythm * 0.5 0;
  li {
    &:first-of-type {
      float:left;
    }
    &:last-of-type {
      float:right;
    }
    @extend .secondary;
    @extend .but-small;
    &:not(:last-of-type) {
      margin-right:5px;
    }
    &.disabled {
      display:none;
    }
  }
}

.thread-tools {
  @include clearfix;
  margin-bottom: $v-rhythm;
  form {
    float:left;
    &:not(:last-of-type) {
      margin-right:0.5rem;
    }

    input[type=submit] {
      @extend .primary;
      @extend .but-small;
    }
  }
}

.content-center,
.content-centre {
  text-align: center;
}