.mobile-user-details-container {
  padding:$v-rhythm 10px;
  text-align:center;
}
.mobile-site-nav-container {
  @include font-size(13);
  //background-color:$periwinkle;
  .site-nav-menu {
    li {
      border-bottom:1px solid rgba(white, 0.2);
      &:last-child {
        border:0;
      }
      a {
        display:block;
        color:white;
        text-align: center;
        padding:$v-rhythm * 0.7 10px;
        &.site-nav-extra-link {
          display:none;
        }
      }
    }
  }
  .row {
    margin:0;
  }
}

#site-nav-container {
  overflow: visible;
  position:relative;
  background-color: $grey;
  color:darken(white, 5%);
  padding-top:10px;
  box-shadow: rgba(black, 0.1) 0 -3px 3px inset;

  &.section-list {
    background-color: $turquoise;
  }

  &.section-case {
    background-color: $violet;
  }

  &.section-survey {
    background-color: $green;
  }

  &.section-iwo {
    background-color: $dark-teal;
  }

  &.section-toolbox {
    background-color: $orange;
  }

  #site-nav {
    .logo {
      float:left;
      font-weight:bold;

      @include breakpoint($m-max) {
        cursor: pointer;
      }
    }
    .mobile-nav-buttons {
      float:right;
      margin-right:10px;
      @include horizontal-list();
      li {
        &:not(:first-child) {
          padding-left:15px;
        }
        a {
          color:white;
        }
      }
    }

    .desktop {
      .site-nav-menu {
        overflow:hidden;
        @include horizontal-list();
        @include font-size(13);
        padding-left:10px;
        li {
          border-radius:5px 5px 0 0;
          &:hover {
            background-color:rgba(white, 0.25);
          }
          &.hang-right {
            float:right;
          }
          &.active {
            background-color: white;
            color:$blue;
            cursor:default;
            box-shadow: rgba(black, 0.4) 0 0 7px;
            & > a, a:hover {
              color:$blue;
              cursor:default;
            }
          }
          a {
            color:white;
            display:inline-block;
            padding:($v-rhythm / 2) 6px;

            &:hover {
              color:white;
            }

            &.has-extra-link {
              padding-right:0;
            }
            &.site-nav-extra-link {
              padding-left:0;
            }
          }
        }
      }
    }
  }
  //.user-details {
  //  @include font-size(14);
  //  text-align: right;
  //  line-height:1.7;
  //  a {
  //    color:$periwinkle;
  //  }
  //}
}

header {
	@include clearfix();
	padding-top:$v-rhythm;
	@include breakpoint($l-max) {
		#logo img {
			display:block;
			margin:0 auto ($v-rhythm / 2);
		}
		#page-title {
			h1 {
				text-align:center;
			}
		}
	}
	@include breakpoint($l) {
		#logo {
			float:left;
			margin-right:30px;
		}
		#page-title {
			float:left;
		}
	}
}
.links-toggle {
	position:relative;
	margin:0 auto;
	padding-bottom:30px;
	@include breakpoint($l) {
		display:none;
	}
	.but-toggle {
		position:absolute;
		top:0;
		left:50%;
		margin-left:-50px;
		width:100px;
		display:inline-block;
		padding:$v-rhythm / 2 10px;
		background-color:$grey;
		color:white;
		text-align:center;
		@include font-size(10);
		font-weight:$font-bold;
		&:hover {
			opacity: 0.8;
		}
	}
}