.mobile-user-details-container {
  padding:$v-rhythm 10px;
  text-align:center;
}
.mobile-site-nav-container {
  .site-nav-menu {
    li {
      border-bottom:1px solid lighten($grey, 20%);
      &:last-child {
        border:0;
      }
      a {
        display:block;
        color:$blue;
        text-align: center;
        padding:$v-rhythm 10px;
        &.site-nav-extra-link {
          display:none;
        }
      }
    }
  }
}

#site-nav-container {
  overflow: visible;
  position:relative;
  background-color: $grey;
  @include dark-grad($grey, top, 10%);
  color:darken(white, 5%);
  #site-nav {
    padding-left: 0;
    .logo {
      float:left;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include breakpoint($m-max) {
        padding-left:10px;
        span { display:none; }
      }
    }
    .mobile-nav-buttons {
      float:right;
      margin-right:10px;
      @include horizontal-list();
      li {
        &:not(:first-child) {
          padding-left:15px;
        }
        a {
          color:white;
        }
      }
    }
    .desktop {
      .site-nav-menu {
        @include horizontal-list();
        @include font-size(14);
        li {
          &:hover {
            background-color:darken($grey, 15%);
          }
          &.active {
            background-color: white;
            color:$blue;
            cursor:default;
            & > a, a:hover {
              color:$blue;
              cursor:default;
            }
          }
          a {
            &:hover {
              color:white;
            }
            display:inline-block;
            color:lighten($grey, 40%);
            padding:($v-rhythm / 2) 10px;
            &.has-extra-link {
              padding-right:0;
            }
            &.site-nav-extra-link {
              padding-left:5px;
            }
          }
        }
      }
    }
  }
  .user-details {
    @include font-size(14);
    text-align: right;
    line-height:1.7;
    a {
      color:$periwinkle;
    }
  }
}

header {
	@include clearfix();
	padding-top:$v-rhythm;
	@include breakpoint($l-max) {
		#logo img {
			display:block;
			margin:0 auto ($v-rhythm / 2);
		}
		#page-title {
			h1 {
				text-align:center;
			}
		}
	}
	@include breakpoint($l) {
		#logo {
			float:left;
			margin-right:30px;
		}
		#page-title {
			float:left;
		}
	}
}
.links-toggle {
	position:relative;
	margin:0 auto;
	padding-bottom:30px;
	@include breakpoint($l) {
		display:none;
	}
	.but-toggle {
		position:absolute;
		top:0;
		left:50%;
		margin-left:-50px;
		width:100px;
		display:inline-block;
		padding:$v-rhythm / 2 10px;
		background-color:$grey;
		color:white;
		text-align:center;
		@include font-size(10);
		font-weight:$font-bold;
		&:hover {
			opacity: 0.8;
		}
	}
}