.login {
  background: url("../img/fipra-stars-bg.png") top right no-repeat, linear-gradient(top, lighten(desaturate($blue, 25%), 25%), desaturate($blue, 10%));
  background-size: contain;

  label {
    padding:0 0 10px;
    color:white;
    @include font-size(14);
    font-weight: normal;
  }

  input[type=text],
  input[type=password] {
    background: white linear-gradient(top, #bdd1f0, #ffffff);
    margin-bottom:20px;
    border-radius:5px;
    border:0;
    padding:10px;

    @include breakpoint($m) {
      @include font-size(24);
      line-height: 1;
    }
  }

  .login-container {
    width:100%;
    height:100%;
    padding:15px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .login-form {
    max-width:600px;
    box-shadow:black 0 0 10px;
    border-radius:10px;
  }

  .login-logo {
    @include box-shadow(0 0 5px black);
    padding:20px 30px;
    background: linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);

    img {
      float:left;
      vertical-align: middle;
      margin-right:10px;
      width:40px;
      height:40px;
    }
  }

  .login-title {
    color:rgb(0, 37, 127);
    @include font-size(40);
    line-height:1;
    font-weight:$font-bold;
    letter-spacing:-1px;
    @include text-shadow(rgba(255, 255, 255, 0.6) 0 1px 0);
  }

  .login-heading {
    display:none;
    color:$grey;
    @include font-size(32);
    line-height: 1;
    font-weight: $font-light;

    @include breakpoint($m) {
      display:block;
      float:right;
    }
  }

  .login-body {
    @include box-shadow(0 0 5px black);
    background:$blue;
    padding:20px 30px;
    @include box-shadow(inset #00205f 0 -5px 15px);
    color:white;
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);

    h4 {
      color:white;
    }

    .row { // Alert row
      padding:0;
    }

    .alert-error, .alert-danger {
      background-color:red;
      border:0;
    }

    .alert-info {
      background-color:$turquoise;
      border:0;
    }
  }


}

// Foundation classes
/* Grid HTML Classes */
/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  *zoom: 1;
}
/* line 121, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_global.scss */
.row:after {
  clear: both;
}
/* line 121, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 124, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_global.scss */
.row .row:after {
  clear: both;
}
/* line 125, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 130, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

@media only screen {
  /* line 135, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-3 {
    position: relative;
    width: 25%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-6 {
    position: relative;
    width: 50%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-9 {
    position: relative;
    width: 75%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 138, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 145, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 146, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 149, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 156, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zurb-foundation-4.3.1/scss/foundation/components/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }
}