// _modules.scss: modular pieces of code used throughout your project. Use modules to avoid repeating code.

.modal {
  display:none;
}

.no-padding {
  padding:0;
}

.button-group {
  margin-bottom:$v-rhythm * 0.5;
  line-height:2;
}

.primary {
	@include primary-but();
  display:inline-block;
  margin-bottom:3px;
}
.secondary {
	@include secondary-but();
  display:inline-block;
  margin-bottom:3px;
}

.red-but {
  @include primary-but();
  background-color:$red;
//  @include text-shadow(darken($red, 10%) 0 -1px);
  border-top: 1px solid lighten($red, 10%);
  border-bottom: 2px solid rgba(darken($red, 40%), 0.6);
  @include dark-grad($red, top, 10%);
}
.grey-but {
  @include primary-but();
  background-color:$grey;
//  @include text-shadow(darken($grey, 10%) 0 -1px);
  border-top: 1px solid lighten($grey, 10%);
  border-bottom: 2px solid rgba(darken($grey, 40%), 0.6);
  @include dark-grad($grey, top, 10%);
}
.green-but {
  @include primary-but();
  border-top: 1px solid lighten(#adff2f, 10%);
  border-bottom: 2px solid rgba(darken(#adff2f, 40%), 0.6);
  @include dark-grad(lighten(#adff2f, 20%), top, 10%);
  color:green;
}
.orange-but {
  @include primary-but();
  border-top: 1px solid lighten(orange, 10%);
  border-bottom: 2px solid rgba(darken(orange, 40%), 0.6);
  @include dark-grad(lighten(orange, 20%), top, 10%);
  color:black;
}

.but-small {
  font-size:0.8rem;
}

.alert {
  position:relative;
  padding:($v-rhythm / 2) 15px;
  border-radius:5px;
  @include font-size(16);
  &.with-margin-bottom {
    margin-bottom:$v-rhythm;
  }
  ul li {
    padding:($v-rhythm / 4) 0;
  }
  button.close {
    display:block;
    position:absolute;
    cursor:pointer;
    border:0;
    padding:0;
    margin:0;
    right:15px;
    top:7px;
    background:none;
    @include font-size(24);
    font-weight: $font-bold;
    color:rgba($black, 0.4);
  }
  &:before {
    font-family: "Fontawesome";
    @include font-size(18);
    padding-right:5px;
  }
}
.alert-overlay {
  position:absolute;
  top:0;
  left:0;
  padding:$v-rhythm;
  text-align:center;
  width:100%;
  @include font-size(24);
  background:rgba(white, 0.9);
}
.alert-success {
  background-color:lighten(greenyellow, 20%);
  border:1px solid greenyellow;
  &.alert-overlay {
    background-color:rgba(lighten(greenyellow, 20%), 0.8);
    border:0;
  }
  &:before {
    content: "\f046";
  }
}
.alert-info {
  background-color:lighten($blue, 68%);
  border:1px solid lighten($blue, 50%);
  &.alert-overlay {
    background-color:rgba(lighten($blue, 68%), 0.8);
    border:0;
  }
  &:before {
    content: "\f05a";
  }
}
.alert-info-alt {
  background-color:lighten($light-grey, 5%);
  border:1px solid $light-grey;
  &.alert-overlay {
    background-color:rgba(lighten($light-grey, 5%), 0.8);
    border:0;
  }
  &:before {
    content: "\f05a";
  }
}
.alert-warning {
  background-color:lighten(orange, 30%);
  border:1px solid lighten(orange, 10%);
  &.alert-overlay {
    background-color:rgba(lighten(orange, 30%), 0.8);
    border:0;
  }
  &:before {
    content: "\f071";
  }
}
.alert-error,
.alert-danger {
  background-color:lighten(red, 40%);
  border:1px solid lighten(red, 30%);
  &.alert-overlay {
    background-color:rgba(lighten(red, 40%), 0.8);
    border:0;
  }
  &:before {
    content: "\f057";
  }
}

.alert-big-text {
  @include font-size(18);
}

#page-header {
  @include clearfix;
  overflow:visible;
  border-radius:5px;
  margin-bottom:15px;
  & > *:not(a) {
    padding:($v-rhythm / 2) 15px 0;
  }
  h2 {
    padding-right:150px;

    @include breakpoint($l) {
      padding-right: 20px;
    }

    .sitewide {
      display:inline-block;
      line-height: 0.5;

      .sitewide__title,
      .sitewide__icon {
        @include font-size(12);
        line-height:1;
        color:#222;
        font-weight:$font-black;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      @include breakpoint($l) {
        float: right;
        padding-top:1px;
      }
    }
  }
  padding-bottom:$v-rhythm / 2;
  position:relative;
  background-color: $blue;
  color:white;
  .page-menu-icon-s {
    color:black;
    position:absolute;
    display:block;
    top:8px;
    right:10px;
    @include breakpoint($l) { display:none; }
  }

  &.section-list {
    h2 { color:darken($turquoise, 10%); }
    background: linear-gradient(top, desaturate(lighten($turquoise, 47%), 25%), desaturate(lighten($turquoise, 35%), 25%)) desaturate(lighten($turquoise, 47%), 25%);
    border-bottom: 2px solid desaturate(lighten($turquoise, 28%), 25%);
  }
  &.section-case {
    h2 { color:darken($violet, 10%); }
    background: linear-gradient(top, desaturate(lighten($violet, 30%), 25%), desaturate(lighten($violet, 20%), 25%)) desaturate(lighten($violet, 30%), 25%);
    border-bottom: 2px solid desaturate(lighten($violet, 15%), 25%);
  }
  &.section-survey {
    h2 { color:saturate(darken($green, 30%), 50%); }
    background:linear-gradient(top, lighten($green, 42%), lighten($green, 30%)) lighten($green, 42%);
    border-bottom: 2px solid desaturate(lighten($green, 25%), 25%);
  }
  &.section-headofunitsurvey {
    h2 { color:saturate(darken($green, 30%), 50%); }
    background:linear-gradient(top, lighten($green, 42%), lighten($green, 30%)) lighten($green, 42%);
    border-bottom: 2px solid desaturate(lighten($green, 25%), 25%);
  }
  &.section-forum {
    h2 { color:white; }
    background: linear-gradient(lighten($blue, 10%) 0%, $blue 50%) no-repeat top;
    border-bottom: 2px solid desaturate(darken($blue, 25%), 25%);
  }
  &.section-iwo {
    h2 { color:saturate(darken($dark-teal, 30%), 50%); }
    background:linear-gradient(top, desaturate(lighten($dark-teal, 42%),25%), desaturate(lighten($dark-teal, 20%), 25%)) desaturate(lighten($dark-teal, 42%),25%);
    border-bottom: 2px solid desaturate(lighten($dark-teal, 15%), 25%);
  }
  &.section-toolbox {
    h2 { color:saturate(darken($orange, 30%), 50%); }
    background:linear-gradient(top, lighten($orange, 42%), lighten($orange, 30%)) lighten($orange, 42%);
    border-bottom: 2px solid desaturate(lighten($orange, 25%), 25%);
  }
  &.section-admin {
    h2 { color:darken($grey, 10%); }
    background-color: desaturate(lighten($grey, 40%), 25%);
    border-bottom: 2px solid desaturate(lighten($grey, 25%), 25%);
  }

  nav {
    @include clearfix();
    ul {
      @include horizontal-list();
      &.small-font a {
        @include font-size(12);
        font-weight: $font-bold;
      }
      & + ul {
        margin-top:$v-rhythm / 1.5;
      }
      li {
        margin-right:5px;
        padding:0;
        @include breakpoint($m-max) { display:block; width:100%; padding:10px 0 0 0; }
        @include breakpoint($m) {
          &.right {
            float:right;
          }
        }
        a {
          display:inline-block;
          line-height:1.1;
          @include breakpoint($m-max) {
            display:block; padding:10px 0;
            i {
              display:none;
            }
          }
        }
        &.divider-right {
          @include breakpoint($l)
          {
            padding-right:10px;
            border-right:1px solid lighten($blue, 30%);
            margin-right:10px;
          }
        }
      }
    }
    @include breakpoint($m-max) { display:none; }
    @include breakpoint($l) {
      ul:last-child {
        margin-top:0;
        float:right;
      }
      ul:first-child {
        float:left;
      }
    }
  }
}

.rows-nav-container {
  padding:0 15px;
  .rows-nav {
    position:relative;
    @include breakpoint($l) { @include horizontal-list(); }
    & > li {
      padding-bottom:$v-rhythm / 2;
      @include font-size(16);
      text-align: center;
      @include breakpoint($l) { line-height:40px; padding:($v-rhythm / 2) 0; font-size:inherit; }
      .clear-search-but {
        display:block; width:100%; line-height:1;
        @include breakpoint($l) { margin-left:20px; display:inline; }
      }
      &:first-child {
        padding-left:0;
      }
      &:last-child {
        padding-right:0;
        border: 0;
      }
      &:not(:first-child):before {
        padding-left:15px;
        @include breakpoint($l) {
          padding:0 15px;
          content:"|";
          color: darken(white, 10%);
        }
      }
      &.search-container {
        .search-but {
          padding-right:10px;
        }
        form {
          position:relative;
          display:inline;
          input {
            @include font-size(14);
            padding-right:30px;
            border-radius:5px;
            @include breakpoint($l-max) {
              width:100%;
              padding-top:10px;
              padding-bottom:10px;
            }
          }
          button {
            background:none;
            border:0;
            margin-left:-30px;
            cursor:pointer;
            @include breakpoint($l-max) {
              position:absolute;
              top:0;
              right:0;
            }
          }
        }
      }
    }
  }
}

.filter-container {
  background-color:darken(white, 5%);
  @include breakpoint($m) { border-radius:5px 5px 0 0; }
  .filters {
    @include font-size(12);
    @include breakpoint($l-max) { display:none; padding:($v-rhythm / 2) 0; }
    & > ul {
      @include clearfix();
      & > li {
        padding:($v-rhythm / 1.5) 15px;
        &:not(:last-of-type) { border-right:1px solid darken(white, 20%); }
        @include breakpoint($l) {
          display:inline;
          float:left;
        }
      }
    }
  }
}
.filter-menu-icon-m {
  display:block;
  background-color:darken(white, 10%);
  text-align: center;
  padding:$v-rhythm / 2 0;
  @include font-size(16);
  @include breakpoint($l) { display:none; }
}

.filter-search {
  position:relative;
//  @include breakpoint($l) { margin-right:15px; }
  padding:0;
  input {
    padding:3px;
    margin:0;
    @include breakpoint($m-max) { padding:8px; }
  }
  button {
    position:absolute;
    line-height:1;
    top:1px;
    right:5px;
    @include breakpoint($m-max) { @include secondary-but(); line-height:1; }
  }
}
.filter-options {
  @include horizontal-list();
  li {
    border-right:1px solid darken(white, 20%);
    &:last-child {
      border:0;
    }
    &.title {
      border-right:0;
    }

    a,
    strong {
      text-align: center;
      display:inline-block;
      padding:0 5px;
    }

    a:hover {
      color:$periwinkle;
    }

  }

}
.filter-but {
  background-color:darken(white, 15%);
  @include font-size(12);
  @include dark-grad(white, top, 15%);
  border:1px solid white;
  padding:5px 10px;
  @include border-radius(5px);
  &.highlight {
    background-color: $blue;
    @include dark-grad($blue, top, 15%);
    border:0;
    color:white;
  }
}

.index-table {
  width:100%;
  @include font-size(12);
  line-height:1.2;

  @include breakpoint(max-width $m) {
    @include font-size(10);
    line-height:1.1;
  }
  tr > td {
    vertical-align: middle;
    border-left:1px solid darken(white, 10%);
    background-color:rgba(white, 0.8);
    &.no-border-left {
      border-left:0 !important;
      padding-left:3px;
    }
    &.no-border-right {
      & + td {
        border-left:0;
        padding-left:3px;
      }
    }
    &.content-center {
      text-align: center;
    }
    &.content-right {
      text-align: right;
    }
    &:last-child {
      border-right:1px solid darken(white, 10%);
    }
    &.hide-s {
      display:none;
      @include breakpoint($m)
      {
        display:table-cell;
      }
    }
    &.hide-m {
      display:none;
      @include breakpoint($l)
      {
        display:table-cell;
      }
    }
    &.show-s {
      display:none;
      @include breakpoint($m-max)
      {
        display:table-cell;
      }
    }
    &.show-m {
      display:none;
      @include breakpoint($l-max)
      {
        display:table-cell;
      }
    }
  }
  thead {
    tr {
      & > td {
        background-color:$grey;
        @include dark-grad($grey, top, 10%);
        color:white;
        border-collapse: separate;
        text-transform: uppercase;
        font-weight:$font-bold;
        padding:4px 10px;
        &.sub-header {
          background-color:$light-grey;
          @include dark-grad($light-grey, top, 10%);
          color:$grey;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom:1px solid darken(white, 10%);
      & > td {
        padding:4px 10px;
        &.actions,
        &.archive-count,
        &.client-links,
        &.narrow {
          padding:5px;
          width:1%;
          white-space:nowrap;
        }
        &.actions {
          .full-width { width:100%; text-align: left; }
        }
        &.client-count,
        &.archive-count,
        &.client-links,
        &.knowledge-survey-link {
          padding-right:10px;
          border-left:0;
          color:$grey;
        }
        .event-log-icons {
          border-right:0;
          padding:5px 0 !important;
        }
        .event-log-icon {
        }
        &.expertise-field {
          border-left:0;
          padding:7px;
          .expertise-field__text-container {
            border-radius: 4px;
            position:relative;
            padding:8px;
            background:darken(#efefef, 5%);
            color:darken(#efefef, 40%);
            .expertise-field__pointer {
              position:absolute;
              left:0;
              top:50%;
              margin-top:-5px;
              margin-left:-5px;
              color:darken(#efefef, 5%);
            }
          }
        }
      }
      //      &:nth-child(even) {
      //        background-color:darken(white, 5%);
      //      }
      //      &:last-child {
      //      }
      &.dormant {
        background-color:darken(white, 5%);
        .status-dormant {
          border-right:1px solid darken(white, 5%);
        }

      }
    }
  }
  button {
    line-height:1;
    @include font-size(12);
  }
  .status-active {
    color:green;
    background-color: lighten(#adff2f, 35%);
  }
  .status-dormant {
    color:#a3a3a3;
  }
  .status-active,
  .status-dormant {
    border-right:1px solid white;
    @include font-size(10);
  }
}

.letter-select-table-container {
  display:block;
  width:100%;
  .letter-select-table {
    width:100%;
    @include breakpoint($l-max)
    {
      display:none;
    }
    tr {
      &:first-child {
        td {
          width:1%;
          white-space: nowrap;
        }
      }
      td {
        width:3%;
        text-align: center;
        padding:0 5px;
        a {
          display:block;
          padding:5px 0;
          line-height:1;
        }
      }
    }
  }
}

.list-letter-filter {
  width: 100%;
  table-layout: fixed;
  tbody {
    tr {
      border:0 !important;
      td {
        border: 0 !important;
        background: none;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.list-table-filter {
  @include font-size(12);
  padding:0;
  background-color:white;
  border:0;
}

.formfield {
	margin:$v-rhythm 0;
    &.no-margin {
      margin-bottom: 0;
    }
	&.highlight {
		padding:($v-rhythm / 2) 10px;
		background-color:lighten($blue, 70%);
		border:1px solid lighten($blue, 60%);
	}
	&.hide {
		display:none;
	}
    .label-info {
      font-size:13px;
      line-height:18px;
      font-style: italic;
      color: $grey;
      padding-bottom:$v-rhythm / 2;
    }

    ul li {
      @include font-size(16);
    }
}
.formgroup {
  @include clearfix();
	position:relative;
	padding:$v-rhythm / 2 0;
	background-color:lighten($periwinkle, 10%);
	margin-bottom:$v-rhythm;
    &.highlight {
      background-color:$blue;
      label {
        color:white;
      }
    }
	.title {
		margin-top:-($v-rhythm / 2);
		padding:($v-rhythm / 2) 20px;
		background-color:$periwinkle;
		@include font-size(18);
		font-weight:$font-bold;
		color:darken($periwinkle, 30%);
		margin-bottom:$v-rhythm;

      small {
        font-size:70%;
      }
	}
	.formfield {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.knowledge-survey-form label {
  @include breakpoint($m) {
    @include font-size(18);
    line-height:1.3;
  }
}

.fluent-language-row.master {
  display:none;
}

.help {
    display: none;
    width:16px;
    height:16px;
    background:url('../img/help_icon.png') top left no-repeat;
    &:hover {
    	background:url('../img/help_icon.png') top right no-repeat;
    }
}
.help-box {
    background:$light-grey;
    border:#dedede 1px solid;
    padding:5px 10px;
    display: block;
    margin-bottom: $v-rhythm / 2;
}
.sub-box {
  display:none;
  background:white;
  padding:10px 20px;
  border:1px solid $periwinkle;
}
.buttons,
.loading {
	@include clearfix();
	margin-bottom:$v-rhythm;
}
.loading {
	display:none;
}
.small-print {
	@include font-size(12);
	color:$grey;
    font-style: italic;
}
.italic {
  font-style: italic;
}
.bold {
  font-style: bold;
}

ul.square {
  list-style:square;
  margin-bottom:$v-rhythm;
  padding-left: 20px;
}
.datepicker {
  background:url(../img/iconCalendar.gif) no-repeat 10px center;
  padding:$v-rhythm / 4 10px;
  padding-left:40px !important;
}

.ui-datepicker {
  font-size:14px !important;
  .ui-datepicker-month,
  .ui-datepicker-year {
    font-size:12px !important;
    float:left !important;
  }
}

.pagination-container {
  margin:$v-rhythm 0;
  @include breakpoint($l-max) {
    text-align: center;
  }
}
ul.pagination {
  @include horizontal-list();
  padding:0;
  @include breakpoint($l-max) {
    display:inline-block;
    margin:0 auto;
  }
  li {
    padding:0 !important;
    margin-right:5px;
    a {
      @include but();
      background-color:darken(white, 20%);
      @include dark-grad(white, top, 12%);
      border:1px solid darken(white, 20%);
      color:$blue;
    }
    &.active span {
      @include but();
      background-color: $blue;
      @include dark-grad($blue, top, 12%);
      border:1px solid darken($blue, 20%);
      color:white;
    }
    &.disabled span {
      @include but();
      background-color:darken(white, 5%);
      color:darken(white, 25%);
    }
    @include breakpoint($m-max) {
      &.link,
      &.disabled {
        display:none;
      }
    }
  }
}

.euro-field {
  &:before {
    content: "€";
  }
}

.divider-pipe {
  padding:0 10px;
  color:darken(white, 10%);
}

.border-box {
  border:1px solid $light-grey;
  background-color: white;
  border-radius:5px;
  &.fill {
    background-color:lighten($light-grey, 10%);
  }
  &.fill-light-green {
    background-color:lighten($green, 42%);
  }

  .border-box__header {
    padding:12px 15px;
    background:linear-gradient(top, white 0%, lighten($light-grey, 6%) 40%);
    @include font-size(16);
    font-weight: $font-bold;
    border-bottom:1px solid $light-grey;
    border-radius: 5px 5px 0 0;

    @include breakpoint($m) {
      @include font-size(18);
    }
  }

  &.section-list {
    .border-box__title,
    .border-box__sub-title {
      color:$turquoise;
    }
  }

  &.section-case {
    .border-box__title,
    .border-box__sub-title {
      color:darken($violet, 10%);
    }
  }

  &.section-survey {
     .border-box__title,
     .border-box__sub-title {
       color:$green;
     }
   }

  &.section-headofunitsurvey {
    .border-box__title,
    .border-box__sub-title {
      color:$green;
    }
  }

  &.section-toolbox {
    .border-box__title,
    .border-box__sub-title {
      color:$orange;
    }
  }

  &.section-admin {
    .border-box__title,
    .border-box__sub-title {
      color:darken($grey, 10%);
    }
  }

  .border-box__title {
    @include font-size(18);
    font-weight: $font-black;
    margin: 0 0 9px 0;

    &.more-margin-bottom {
      margin-bottom:18px;
    }
  }

  .border-box__sub-title {
    @include font-size(15);
    font-weight: $font-black;
    margin: 0 0 3px 0;

    &.more-margin-bottom {
      margin-bottom:12px;
    }
  }
}

.border-box__content {
  padding:15px;

  &.no-pad {
    padding:0;
  }

  &.border-box__content--text-medium {
    @include font-size(16);
  }

  &.border-box__content--text-large {
    @include font-size(18);
  }
}

.chart {
  width:100%;
  height:500px;
  @include breakpoint($l) {
    height:600px;
    &.large {
      height:800px;
    }
  }
}
.chart-print {
  @include clearfix();
  position:absolute;
  top:0;
  left:-9999px;
  width:450px;
  height:450px;
}

//Buttons that are JS-dependent. Hide until JS displays them.
.js-block {
  display:none;
}

//If the page is more word-y, use the prose class to add a little more leading
.prose p {
  line-height:2 !important;
}

.page-menu-nav ul li {
  margin-bottom:$v-rhythm * 0.25;
}

.status--pending { color: orange; }
.status--active { color: green; }


.expertise-form__container {
  background-color: lighten($green, 47%);
  padding:$v-rhythm 20px;
  margin-top:$v-rhythm;
  border-radius: 5px;
}

.expertise-form__group-title {
  font-weight:$font-black;
  @include font-size(20);
  color:$green;
}

.expertise-form__group-intro {
  @include font-size(16);
  line-height:1.4;
  p { padding:0; }
}

.expertise-form__knowledge-area {
  width:50%;
  padding-left:15px;

  @include breakpoint($m) {
    width:35%;
    @include font-size(15);
  }
}
.expertise-form__row {
  background-color:lighten($green, 38%);
  border-bottom:3px solid lighten($green, 47%);
}
.expertise-form__score-title {
  text-align: center;
  font-weight:bold;
  @include font-size(16);
  color:$blue;
  padding-bottom:5px;
}
.expertise-form__score {
  width:10%;
  text-align: center;
  padding:5px 0;

  @include breakpoint($m) {
    width:65% / 5;
  }
}

.knowledge-profile-section-block {
  margin-bottom:$v-rhythm * 1.5;

  &:last-of-type {
    margin-bottom:0;
  }
}

.knowledge-profile-section-title {
  @include font-size(12);
  font-weight:$font-black;
  color:black;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height:1.1;
  padding: 10px 15px;
  background-color:lighten($green, 42%);
  border-radius: 5px;

  &.margin-bottom {
    margin-bottom:$v-rhythm * 0.5;
  }
}

.border-box .knowledge-profile-section-title {
  border-radius:5px 5px 0 0;
}

.knowledge-profile-section-sub-title {
  @include font-size(12);
  font-weight:$font-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height:1.1;
  color:darken($green, 10%);
  margin-bottom:8px;
}

.knowledge__section-title {
  font-weight:$font-black;
  padding:12px;
  background-color:$green;
  color:white;
  margin-top:$v-rhythm;
  background: $green linear-gradient(lighten($green, 25%) 0%, $green 40%) no-repeat top;
  border-left:2px solid $green;
  border-top:2px solid $green;
  border-right:2px solid $green;
  border-bottom:2px solid darken($green, 10%);
  border-radius: 5px;
  @include font-size(19);

  &.with-margin-bottom {
    margin-bottom:$v-rhythm;
  }

  &.with-intro {
    border-radius: 5px 5px 0 0;
  }
}
.knowledge__section-intro {
  position:relative;
  z-index: -1;
  @include font-size(15);
  line-height:1.4;
  margin-top:-5px;
  margin-bottom:$v-rhythm / 2;
  padding:15px;
  background-color: lighten($green, 40%);
  border-radius: 0 0 5px 5px;
  &.no-bg {
    background-color: transparent;
    padding:15px 0;
  }
}

.knowledge-profile-details {
  border:1px solid #efefef;
  width:100%;
  background-color: white;
}
.knowledge-profile-details tr {
  &:not(:last-of-type) {
    border-bottom:1px solid #efefef;
  }
}

.knowledge-profile-details tr td {
  padding:10px;
}
.knowledge-profile-details__title {
  width:50%;
  font-weight:$font-bold;
  background-color:#efefef;
  border-bottom:1px solid white;
  &.min-height {
    height:65px;
  }

}

.expertise-list__container {
}
.expertise-list {
  width:100%;
}
.expertise-list__section-title {
  @include breakpoint(max-width $m) {
    margin-top:20px;
  }
}
.expertise-list__group-title {
  font-weight:$font-bold;
  @include font-size(18);
  color: $blue;
  padding-bottom:10px;
}
.expertise-list__knowledge-area,
.expertise-list__score {
  @include font-size(14);
  padding:2px 10px;
}
.expertise-list__knowledge-area {
  width:65%;
}
.expertise-list__score {
  width:35%;
  text-align:right;
    .expertise-list__score-stars {
      @include breakpoint(max-width $s) {
        display:none;
      }
    }
}
.expertise-list__score-row-0 {
  color:darken(#efefef, 15%);
}
.expertise-list__score-row-1,
.expertise-list__score-row-2,
.expertise-list__score-row-3 {
  background-color:darken(#efefef, 3%);
  color:darken(#efefef, 40%);
}

.expertise-list__score-row-4,
.expertise-list__score-row-5 {
  background-color:$green;
  color:white;

  .expertise-list__knowledge-area,
  .expertise-list__score {
    font-weight:$font-bold;
  }
}

.expertise-list__score-row-1,
.expertise-list__score-row-2,
.expertise-list__score-row-3,
.expertise-list__score-row-4,
.expertise-list__score-row-5 {
  border-bottom:4px solid lighten(#efefef, 3%);
}

.knowledge-toggle {
  @include font-size(14);
  line-height:16px;

  &.active {
    display:inline-block;
  }
}
.dormant-client:before {
  content: 'Dormant';
  color:$light-grey;
  font-style: italic;
}

.select2, .select2-dropdown {
  font-family: FontAwesome, Lato, sans-serif !important;
}

.select2 {
}

.select2-selection,
.tagsinput {
  @include font-size(14);
  line-height:1;
  border-radius: 5px !important;
}

.select2-selection__choice,
.tagsinput .tag {
  padding:5px 7px !important;
  border:0 !important;
  border-radius:5px !important;
  font-family: $font-family !important;
  font-size:14px !important;
  line-height:1.1 !important;

}

.knowledge-survey-form {
  .select2-selection,
  .tagsinput,
  input[type=text],
  input[type=email],
  input[type=file],
  input[type=password],
  input[type=number],
  textarea {
    background-color: lighten($green, 49%) !important;
    border:1px solid $green !important;

    @include breakpoint($m) {
      font-size: 16px !important;
    }
  }
  #other_languages_tag {
    @include breakpoint($m) {
      font-size: 16px !important;
    }
  }
  .select2-selection--multiple {
    min-height:100px;
  }
  .select2-selection__choice__remove {
    color: darken($green, 20%) !important;
  }
  .select2-selection__choice,
  .tagsinput .tag {
    background-color:$green !important;
    color:white !important;

    @include breakpoint($m) {
      font-size: 16px !important;
    }
  }
}

.formfield .select2-selection {
  @include font-size(16);
  line-height:1;
}

.sub-header .select2-selection {
  @include font-size(12);
  text-transform: capitalize;
}

.select2-container {
  @include font-size(13);
  line-height:1;
}

.show-more__button {
  display:none;
  &.active {
    display:block;
    padding:5px;
    margin-top:5px;
  }

}
.show-more__row--hidden {
  display:none;
}

.tagsinput .tag {
  padding:5px 4px !important;
  a {
    display:inline-block;
    float:left;
    color:darken($green, 20%) !important;
  }
  span {
    display:inline-block;
    float:right;
    padding-left:3px;
  }
}

.survey-entry-table {
  tr td {
    padding:5px;
  }
  thead tr td {
    font-weight: $font-bold;
  }
}

.fipriot-info {
  a { word-break: break-all; }
}

.fipriot-info__group,
.fipriot-info__photo {
  @include font-size(13);
  margin-bottom:15px;
  line-height:1.4;
}
.fipriot-info__photo {
  display:none;

  @include breakpoint($m) {
    display:block;
  }
}
.fipriot-info__page-header-photo {
  float:left;
  max-width:75px;
  margin-right:15px;

  @include breakpoint($m) {
    display:none;
  }
}
.fipriot-info__page-header-photo,
.fipriot-info__photo {
  border-radius:5px;
  background:radial-gradient(white 60%, #efefef 100%);
}
.fipriot-info__group-title {
  padding:6px 10px;
  margin-bottom:10px;
  background-color:lighten($green, 42%);
  @include font-size(12);
  color:$green;
  border-radius: 5px;
  text-transform:uppercase;
  letter-spacing:2px;
}
.fipriot-info__group-row {
  margin-bottom:10px;
}
.fipriot-info__bio {
  overflow: hidden;
  text-overflow: ellipsis;
}
.fipriot-info__read-more-link {
  @extend .secondary;
  @include font-size(11);
  line-height:1;
  display:inline-block !important;
  margin-top:10px;
  padding:5px;
}

.para-padded {
  padding:10px;
}

.border-light-green {
  border: 1px solid lighten($green, 42%);
}

.question-details {
  display:none;
  margin:10px 0 25px;
  padding-left:40px;

  &.no-left-pad {
    padding-left:0;
  }
}


.toolbox-resource {
  &:not(:last-of-type) {
    padding-bottom:$v-rhythm * 0.5;
    border-bottom:1px dotted $periwinkle;
    margin-bottom:$v-rhythm * 0.5;
  }
}
.toolbox-resource__link {
  font-weight:$font-bold;
}
.toolbox-resource__description {
  @include font-size(13);
  font-style: italic;
}
.toolbox-resource__button {
  @extend .primary;
  font-size:12px;
  line-height:1;
  margin-top:5px;
  margin-right:3px;

  @include breakpoint($m) {
    display:block;
    float:right;
    margin-top:0;
  }
}

.bullets-square {
  list-style: square;
  padding-left:20px;
  li {
    margin-bottom:10px;
  }

  &.margin-top {
    margin-top:20px;
  }
}

.time-required {
  margin: 12px 0 6px;
  @include font-size(16);
  font-weight: $font-black;
}
