// _modules.scss: modular pieces of code used throughout your project. Use modules to avoid repeating code.

.modal {
  display:none;
}

.primary {
	@include primary-but();
}
.secondary {
	@include secondary-but();
}
.red-but {
  @include primary-but();
  background-color:$red;
  @include text-shadow(darken($red, 10%) 0 -1px);
  border-top: 1px solid lighten($red, 10%);
  border-bottom: 2px solid rgba(darken($red, 40%), 0.6);
  @include dark-grad($red, top, 10%);
}
.grey-but {
  @include primary-but();
  background-color:$grey;
  @include text-shadow(darken($grey, 10%) 0 -1px);
  border-top: 1px solid lighten($grey, 10%);
  border-bottom: 2px solid rgba(darken($grey, 40%), 0.6);
  @include dark-grad($grey, top, 10%);
}
.green-but {
  @include primary-but();
  background-color:lighten(#adff2f, 20%);
  @include text-shadow(darken(green, 10%) 0 -1px);
  border-top: 1px solid lighten(#adff2f, 10%);
  border-bottom: 2px solid rgba(darken(#adff2f, 40%), 0.6);
  @include dark-grad(lighten(#adff2f, 20%), top, 20%);
  color:green;
}

.alert {
  position:relative;
  margin-bottom:$v-rhythm;
  padding:($v-rhythm / 2) 15px;
  @include font-size(16);
  ul li {
    padding:($v-rhythm / 4) 0;
  }
  button.close {
    display:block;
    position:absolute;
    cursor:pointer;
    border:0;
    padding:0;
    margin:0;
    right:15px;
    top:7px;
    background:none;
    @include font-size(24);
    font-weight: $font-bold;
    color:rgba($black, 0.4);
  }
  &:before {
    font-family: "Fontawesome";
    @include font-size(18);
    padding-right:5px;
  }
}
.alert-overlay {
  position:absolute;
  top:0;
  left:0;
  padding:$v-rhythm;
  text-align:center;
  width:100%;
  @include font-size(24);
  background:rgba(white, 0.9);
}
.alert-success {
  background-color:lighten(greenyellow, 20%);
  border:1px solid greenyellow;
  &.alert-overlay {
    background-color:rgba(lighten(greenyellow, 20%), 0.8);
    border:0;
  }
  &:before {
    content: "\f046";
  }
}
.alert-info {
  background-color:lighten($blue, 68%);
  border:1px solid lighten($blue, 50%);
  &.alert-overlay {
    background-color:rgba(lighten($blue, 68%), 0.8);
    border:0;
  }
  &:before {
    content: "\f05a";
  }
}
.alert-warning {
  background-color:lighten(orange, 30%);
  border:1px solid lighten(orange, 10%);
  &.alert-overlay {
    background-color:rgba(lighten(orange, 30%), 0.8);
    border:0;
  }
  &:before {
    content: "\f071";
  }
}
.alert-error,
.alert-danger {
  background-color:lighten(red, 40%);
  border:1px solid lighten(red, 30%);
  &.alert-overlay {
    background-color:rgba(lighten(red, 40%), 0.8);
    border:0;
  }
  &:before {
    content: "\f057";
  }
}

#page-header {
  & > *:not(a) {
    padding:($v-rhythm / 2) 15px 0;
  }
  h2 {
    padding-right:150px;
  }
  padding-bottom:$v-rhythm / 2;
  position:relative;
  background-color: $blue;
  @include dark-grad($blue, top, 10%);
  color:white;
  .page-menu-icon-s {
    color:white;
    position:absolute;
    display:block;
    top:8px;
    right:10px;
    @include breakpoint($m) { display:none; }
  }
  nav {
    @include clearfix();
    ul {
      @include horizontal-list();
      @include breakpoint($l) {
        &.small-font a {
          @include font-size(12);
          font-weight: $font-bold;
        }
      }
      & + ul {
        margin-top:$v-rhythm / 1.5;
      }
      li {
        margin-right:5px;
        padding:0;
        @include breakpoint($m-max) { display:block; width:100%; padding:10px 0 0 0; }
        @include breakpoint($m) {
          &.right {
            float:right;
          }
        }
        a {
          display:inline-block;
          line-height:1.1;
          @include breakpoint($m-max) {
            display:block; padding:10px 0;
            i {
              display:none;
            }
          }
        }
        &.divider-right {
          @include breakpoint($l)
          {
            padding-right:10px;
            border-right:1px solid lighten($blue, 30%);
            margin-right:10px;
          }
        }
      }
    }
    @include breakpoint($m-max) { display:none; }
    @include breakpoint($l) {
      ul:last-child {
        margin-top:0;
        float:right;
      }
      ul:first-child {
        float:left;
      }
    }
  }
}

.rows-nav-container {
  padding:0 15px;
  .rows-nav {
    position:relative;
    @include breakpoint($l) { @include horizontal-list(); }
    & > li {
      padding-bottom:$v-rhythm / 2;
      @include font-size(16);
      text-align: center;
      @include breakpoint($l) { line-height:40px; padding:($v-rhythm / 2) 0; font-size:inherit; }
      .clear-search-but {
        display:block; width:100%; line-height:1;
        @include breakpoint($l) { margin-left:20px; display:inline; }
      }
      &:first-child {
        padding-left:0;
      }
      &:last-child {
        padding-right:0;
        border: 0;
      }
      &:not(:first-child):before {
        padding-left:15px;
        @include breakpoint($l) {
          padding:0 15px;
          content:"|";
          color: darken(white, 10%);
        }
      }
      &.search-container {
        .search-but {
          padding-right:10px;
        }
        form {
          position:relative;
          display:inline;
          input {
            @include font-size(14);
            padding-right:30px;
            @include breakpoint($l-max) {
              width:100%;
              padding-top:10px;
              padding-bottom:10px;
            }
          }
          button {
            background:none;
            border:0;
            margin-left:-30px;
            cursor:pointer;
            @include breakpoint($l-max) {
              position:absolute;
              top:0;
              right:0;
            }
          }
        }
      }
    }
  }
}

.filter-container {
  background-color:darken(white, 5%);
  .filters {
    @include breakpoint($l-max) { display:none; padding:($v-rhythm / 2) 0; }
    & > ul {
      @include clearfix();
      & > li {
        padding:($v-rhythm / 1.5) 15px;
        &:not(:last-of-type) { border-right:1px solid darken(white, 20%); }
        @include breakpoint($l) {
          display:inline;
          float:left;
        }
      }
    }
  }
}
.filter-menu-icon-m {
  display:block;
  background-color:darken(white, 10%);
  text-align: center;
  padding:$v-rhythm / 2 0;
  @include font-size(16);
  @include breakpoint($l) { display:none; }
}

.filter-search {
  position:relative;
//  @include breakpoint($l) { margin-right:15px; }
  padding:0;
  input {
    padding:3px;
    margin:0;
    @include breakpoint($m-max) { padding:8px; }
  }
  button {
    position:absolute;
    line-height:1;
    top:1px;
    right:5px;
    @include breakpoint($m-max) { @include secondary-but(); line-height:1; }
  }
}
.filter-options {
  @include horizontal-list();
  li {
    border-right:1px solid darken(white, 20%);
    &:last-child {
      border:0;
    }
    &.title {
      border-right:0;
    }

    a,
    strong {
      text-align: center;
      display:inline-block;
      padding:0 5px;
    }

    a:hover {
      color:$periwinkle;
    }

  }

}
.filter-but {
  background-color:darken(white, 15%);
  @include dark-grad(white, top, 15%);
  border:1px solid white;
  padding:5px 10px;
  @include border-radius(5px);
  &.highlight {
    background-color: $blue;
    @include dark-grad($blue, top, 15%);
    border:0;
    color:white;
  }
}

.index-table {
  width:100%;
  @include font-size(12);
  tr > td {
    border-left:1px solid darken(white, 10%);
    vertical-align: middle;
    &.content-center {
      text-align: center;
    }
    &.content-right {
      text-align: right;
    }
    &:last-child {
      border-right:1px solid darken(white, 10%);
    }
    &.hide-s {
      display:none;
      @include breakpoint($m)
      {
        display:table-cell;
      }
    }
    &.hide-m {
      display:none;
      @include breakpoint($l)
      {
        display:table-cell;
      }
    }
    &.show-s {
      display:none;
      @include breakpoint($m-max)
      {
        display:table-cell;
      }
    }
    &.show-m {
      display:none;
      @include breakpoint($l-max)
      {
        display:table-cell;
      }
    }
  }
  thead {
    tr {
      & > td {
        background-color:$grey;
        @include dark-grad($grey, top, 10%);
        color:white;
        border-collapse: separate;
        text-transform: uppercase;
        @include font-size(12);
        font-weight:$font-bold;
        padding:($v-rhythm / 4) 15px;
        &.sub-header {
          background-color:$light-grey;
          @include dark-grad($light-grey, top, 10%);
          color:$grey;
        }
      }
    }
  }
  tbody {
    tr {
      & > td {
        padding:5px 15px;
        &.actions,
        &.archive-count,
        &.client-links {
          padding:5px;
          width:1%;
          white-space:nowrap;
        }
        &.archive-count,
        &.client-links {
          padding-right:10px;
          border-left:0;
          color:$grey;
        }
        .event-log-icon {
          padding-right:10px;
        }
      }
      &:nth-child(even) {
        background-color:darken(white, 5%);
      }
      &:last-child {
        border-bottom:1px solid darken(white, 10%);
      }
    }
  }
  button {
    line-height:1;
    @include font-size(12);
  }
  .status-active {
    background-color:lighten(#adff2f, 20%);
    color:green;
    border:1px solid white;
  }
  .status-dormant {
    background-color:white;
    color:#d3d3d3;
    border:1px solid white;
  }
  .status-active,
  .status-dormant {
    @include breakpoint($m-max) {
      @include font-size(8);
    }
  }
}

.letter-select-table-container {
  display:block;
  width:100%;
  .letter-select-table {
    width:100%;
    @include breakpoint($l-max)
    {
      display:none;
    }
    tr {
      &:first-child {
        td {
          width:1%;
          white-space: nowrap;
        }
      }
      td {
        width:3%;
        text-align: center;
        padding:0 5px;
        a {
          display:block;
          padding:5px 0;
          line-height:1;
        }
      }
    }
  }
}

.list-letter-filter {
  width: 100%;
  table-layout: fixed;
  tbody {
    tr {
      border:0 !important;
      td {
        border: 0 !important;
        background: none;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.list-table-filter {
  @include font-size(12);
  padding:0;
  background-color:white;
  border:0;
}

.formfield {
	margin-bottom:$v-rhythm;
	&.highlight {
		padding:($v-rhythm / 2) 10px;
		background-color:lighten($blue, 70%);
		border:1px solid lighten($blue, 60%);
	}
	&.hide {
		display:none;
	}
}
.formgroup {
  @include clearfix();
	position:relative;
	padding:$v-rhythm / 2 0;
	background-color:lighten($periwinkle, 10%);
	margin-bottom:$v-rhythm;
    &.highlight {
      background-color:$blue;
      label {
        color:white;
      }
    }
	.title {
		margin-top:-($v-rhythm / 2);
		padding:($v-rhythm / 2) 20px;
		background-color:$periwinkle;
		@include font-size(18);
		font-weight:$font-bold;
		color:darken($periwinkle, 30%);
		margin-bottom:$v-rhythm;

      small {
        font-size:70%;
      }
	}
	.formfield {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.help {
    display: none;
    width:16px;
    height:16px;
    background:url('../img/help_icon.png') top left no-repeat;
    &:hover {
    	background:url('../img/help_icon.png') top right no-repeat;
    }
}
.help-box {
    background:$light-grey;
    border:#dedede 1px solid;
    padding:5px 10px;
    display: block;
    margin-bottom: $v-rhythm / 2;
}
.sub-box {
  display:none;
  background:white;
  padding:10px 20px;
  border:1px solid $periwinkle;
}
.buttons,
.loading {
	@include clearfix();
	margin-bottom:$v-rhythm;
}
.loading {
	display:none;
}
.small-print {
	@include font-size(12);
	color:$grey;
    font-style: italic;
}
.italic {
  font-style: italic;
}
.bold {
  font-style: bold;
}

ul.square {
  list-style:square;
  margin-bottom:$v-rhythm;
  padding-left: 20px;
}
.datepicker {
  background:url(../img/iconCalendar.gif) no-repeat 10px center;
  padding-left:40px !important;
  padding:$v-rhythm / 4 10px;
}

.pagination-container {
  margin:$v-rhythm 0;
  @include breakpoint($l-max) {
    text-align: center;
  }
}
ul.pagination {
  @include horizontal-list();
  padding:0;
  @include breakpoint($l-max) {
    display:inline-block;
    margin:0 auto;
  }
  li {
    padding:0 !important;
    margin-right:5px;
    a {
      @include but();
      background-color:darken(white, 20%);
      @include dark-grad(white, top, 12%);
      border:1px solid darken(white, 20%);
      color:$blue;
    }
    &.active span {
      @include but();
      background-color: $blue;
      @include dark-grad($blue, top, 12%);
      border:1px solid darken($blue, 20%);
      color:white;
    }
    &.disabled span {
      @include but();
      background-color:darken(white, 5%);
      color:darken(white, 25%);
    }
    @include breakpoint($m-max) {
      &.link,
      &.disabled {
        display:none;
      }
    }
  }
}

.euro-field {
  &:before {
    content: "€";
  }
}

.divider-pipe {
  padding:0 10px;
  color:darken(white, 10%);
}

.border-box {
  border:1px solid $light-grey;
  padding:$v-rhythm 15px;
  margin-bottom: $v-rhythm;
  &.fill {
    background-color:lighten($light-grey, 10%);
  }
}

.chart {
  width:100%;
  height:500px;
  @include breakpoint($l) {
    height:600px;
    &.large {
      height:800px;
    }
  }
}
.chart-print {
  @include clearfix();
  position:absolute;
  top:0;
  left:-9999px;
  width:450px;
  height:450px;
}

//Buttons that are JS-dependent. Hide until JS displays them.
.js-block {
  display:none;
}

//If the page is more word-y, use the prose class to add a little more leading
.prose p {
  line-height:2 !important;
}
