.super-menu__container {
  background-color: shade($grey, 40%);

  @include breakpoint($m-max) {
    display:none;
  }

  .container {
    padding:0 10px;
    .row {
      margin-bottom:0;
      padding:0;
    }
  }
}

.super-menu {
  list-style: none;
  @include horizontal-list();
  @include font-size(16);
  margin-top:15px;

  &:not(:last-of-type) {
    //margin-right:10px;
    //border-right:1px solid $grey;
  }

  @include breakpoint($m-l) {
    @include font-size(13);
  }

  @include breakpoint($m-max) {
    margin-bottom: 10px;
  }

  .super-menu__item {
    padding:0;

    &:not(:last-of-type) {
      //margin-right:10px;
      //border-right:1px solid $grey;
    }

    @include breakpoint($m-max) {
      display:block;
      width:100%;
      border-right:0;
      text-align:center;
    }
  }

  .super-menu__logo {
    margin-right:10px;
  }

  .super-menu__link:link, .super-menu__link:visited {
    display:block;
    color:white;
    padding: $v-rhythm 13px;

    @include breakpoint($m-l) {
      padding: ($v-rhythm / 1.7) 13px;
    }

    &:hover {
      color:darken(white, 20%);
    }

    &.active {
      background-color:$grey;
      font-weight:bold;

      &.section-list {
        background-color: $turquoise;
      }

      &.section-case {
        background-color: $violet;
      }

      &.section-survey {
        background-color: $green;
      }

      &.section-admin {
        background-color: $grey;
      }
    }
  }
}

.super-menu__user-details {
  text-align:right;
  color:white;
  @include font-size(12);
  padding:7px 13px 0 13px;
  line-height:1.6;

  @include breakpoint($m-l) {
  }

  @include breakpoint($m-max) {
    display:none;
  }

  a:link, a:visited {
    color:$turquoise;
    &:hover {
      color:shade($turquoise, 20%);
    }
  }
}